<%= @user.first_name %><br>
<%= @user.last_name %><br>
<%= @user.profile_name %><br>

<% if @tracks %>
  <% @tracks.each do |track| %>
    <li>track id= <%= track %></li>
		<%= link_to "Delete", track_path(track), method: :delete %>
  <% end %>
<% end %>
