<!DOCTYPE html>
<html>

  <head>
    <title>Sleazy</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  </head>

  <body>
    <div class="sign-in-up">
      <div id="sign-in">
  	<% if user_signed_in? %>
  		<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  	<% else %>

  		<%= link_to 'Sign in', new_user_session_path %>
      </div>
  		<%= link_to 'Sign up', new_user_registration_path %>
   
  	<% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  
  </body>

</html>
