<!DOCTYPE html>
<html>

<head>
    <title>Sleazy</title>
    <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
        <%=javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
            <%=csrf_meta_tags %>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
                <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
</head>

<body>
    <div class="signing-container">
        <div class="signing">
            <div id="out">
                <% if user_signed_in? %>
                    <%=link_to 'out', destroy_user_session_path, method: :delete %>
            </div>
            <% else %>
                <div id="in">
                    <%=link_to 'in', new_user_session_path %>
                </div>
                <div id="up">
                    <%=link_to 'up', new_user_registration_path %>
                </div>
        </div>
        </div>
    <% end %>




        <p class="notice">
            <%=notice %>
        </p>
        <p class="alert">
            <%=alert %>
        </p>
        <%=yield %>

</body>

</html>